# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# NestJS Build
dist/
.cache/
.cache-loader/
*.tsbuildinfo

# Environment Variables
.env
.env.*.local

# IDE ve Editör Dosyaları
.vscode/
.idea/
*.sublime-workspace

# OS (İşletim Sistemi) Dosyaları
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Test Çıktıları
coverage/
jest/
*.lcov

# Dokümantasyon
*.docx
*.pdf

# Tür Kontrol ve Build Araçları
*.d.ts
*.map
*.bak

# Docker
docker-compose.override.yml
docker-compose.override.yaml
.dockerignore

# Yarn & PM2
.pids
.yarn-integrity
pm2.pid

# Temp Files
tmp/
